extends layout

block content
 form(method="post", action="contact/send")
  input(type="text" name="name" placeholder="Name...")
  input(type="email" name="email" placeholder="Email...")
  input(type="text" name="message" placeholder="Message...")
  button(type="submit") Submit